@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

.blue-normal {
    -fx-fill: #1E3055;
}

.white-normal {
    -fx-fill: #F3F2F3;
}

.app-name {
    -fx-font-size: 20px;
    -fx-text-fill: #F3F2F3;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-font-family: 'Sen', sans-serif;
}

.search-bar {
    -fx-background-color: #F3F2F3;
    -fx-background-radius: 16px;

    -fx-font-family: 'Sen', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #6A6262;
}

.add-button {
     -fx-background-color: #F3F2F3;
     -fx-background-radius: 16px;

     -fx-font-family: 'Sen', sans-serif;
     -fx-font-weight: bold;
     -fx-font-size: 16px;
     -fx-text-fill: #1E3055;
 }

.add-button:hover {
    -fx-background-color: #F9F9F9;
}

.create-view-anchor-pane-background {
    -fx-background-color: #454545;
}

.create-view-anchor-pane-foreground {
    -fx-background-color: #1E3055;
    -fx-background-radius: 4px;
}

.flow-pane-test {
    -fx-background-color: #1E3055;
}