.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.scroll-pane .thumb {
    -fx-background-color: #1E3055;
    -fx-background-radius: 4px;
}

.scroll-pane .decrement-arrow {
    -fx-background-color: #F9F9F9;
}

.scroll-pane .increment-arrow {
    -fx-background-color: #F9F9F9;
}